@{
    ViewBag.Title = "Home Page";
}
@{
    var latest = ViewBag.latest as List<Post>;
    var mostView = ViewBag.mostView as List<Post>;
    var categories = ViewBag.categories as List<Category>;
    var randomPost = ViewBag.randomPost as List<Post>;
    var listPostInCategory = ViewBag.listPostInCategory as List<Post>;
}
<style>
    .tn-news {
        height: 100px;
    }

    .tab-content {
        max-height: 510px;
        overflow: auto
    }
</style>
<!-- Top News Start-->
<div class="top-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6 tn-left">
                <div class="row tn-slider">
                    @foreach (var post in randomPost)
                    {
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="@post.Image" height="350" />
                                <div class="tn-title">
                                    <a href="@Url.Action("ViewDetail","Posts",new { area="", postId = post.PostId})">@post.Title</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6 tn-right">
                <div class="row">
                    @foreach (var post in randomPost.OrderBy(p => Guid.NewGuid()).Take(4))
                    {
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="@post.Image" height="175" />
                                <div class="tn-title">
                                    <a href="@Url.Action("ViewDetail","Posts",new { area="", postId = post.PostId})">@post.Title</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top News End-->
<!-- Category News Start-->
<div class="cat-news">
    <div class="container">
        <div class="row">
            @foreach (var cate in categories)
            {
                <div class="col-md-6">
                    <h2>@cate.CategoryName</h2>
                    <div class="row cn-slider">
                        @foreach (var post in listPostInCategory)
                        {
                            if (post.CategoryId == cate.CategoryId)
                            {
                                <div class="col-md-6">
                                    <div class="cn-img">
                                        <img src="@post.Image" height="150" />
                                        <div class="cn-title">
                                            <a href="@Url.Action("ViewDetail","Posts",new { area="", postId = post.PostId})">@post.Title</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Tab News Start-->
<div class="tab-news">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#mostView">Most Viewd News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#latest">Latest News</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="mostView" class="container tab-pane active">
                        @foreach (var post in mostView)
                        {
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="@post.Image" height="95" />
                                </div>
                                <div class="tn-title">
                                    <a href="@Url.Action("ViewDetail","Posts",new { area="", postId = post.PostId})">@post.Title</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="latest" class="container tab-pane fade">
                        @foreach (var post in latest)
                        {
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="@post.Image" height="95" />
                                </div>
                                <div class="tn-title">
                                    <a href="@Url.Action("ViewDetail","Posts",new { area="", postId = post.PostId})">@post.Title</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- Tab News Start-->
<!-- Main News Start-->
<div class="main-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var post in randomPost)
                    {
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="@post.Image" height="165" />
                                <div class="mn-title">
                                    <a href="@Url.Action("ViewDetail","Posts",new { area="", postId = post.PostId})">@post.Title</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-3">
                <div class="mn-list">
                    <h2>Read More</h2>
                    <ul>
                        @foreach (var post in randomPost)
                        {
                            <li><a href="@Url.Action("ViewDetail","Posts",new { area="", postId = post.PostId})">@post.Title</a></li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main News End-->